{{ $pattern := .Get "pattern" }}
{{ $alt := .Get "alt" | default "Carousel image" }}

<div class="outreach-carousel">
  {{ $images := .Page.Resources.Match $pattern }}

  {{ range $images }}
    {{ $caption := replaceRE "\\.[^.]+$" "" .Name }}
    {{ $caption = replace $caption "-" " " }}
    {{ $caption = title $caption }}

    <figure class="carousel-slide">
      <img src="{{ .RelPermalink }}" alt="{{ $alt }}">
      <figcaption>{{ $caption }}</figcaption>
    </figure>
  {{ end }}

  {{ with index $images 0 }}
    {{ $caption := replaceRE "\\.[^.]+$" "" .Name }}
    {{ $caption = replace $caption "-" " " }}
    {{ $caption = title $caption }}

    <figure class="carousel-slide carousel-clone">
      <img src="{{ .RelPermalink }}" alt="{{ $alt }}">
      <figcaption>{{ $caption }}</figcaption>
    </figure>
  {{ end }}
</div>
